body {
	font-family: verdana;
}

#header, #footer {
	background-color: #4682B4;
	color: #ffffff;
	padding: 20px;
	font-size: 120%;
	text-align: center;
	
}
#left {
	background-color: #40E0D0;
	width: 40%;
	height: 500px;
	float: left;

}
#right {
	background-color: #40E0D0;
	width: 60%;
	height: 500px;
	float: left;

}
img {
	padding: 5px;
	margin: 10px;
	border: solid 1px #000080;
	
}

border-style
dotted - Defines a dotted border
dashed - Defines a dashed border
solid - Defines a solid border
double - Defines a double border
groove - Defines a 3D grooved border. The effect depends on the border-color value
ridge - Defines a 3D ridged border. The effect depends on the border-color value
inset - Defines a 3D inset border. The effect depends on the border-color value
outset - Defines a 3D outset border. The effect depends on the border-color value
none - Defines no border
hidden - Defines a hidden border
